/* Colour Variables & Setup */

:root {
    --darkest_green: #42753b;
    --dark_green: #609957;
    --light_green: #A7D588;
    --white: #E8E5D4;
    --black: #070A11;
    --orange: #F7A151;
    --blue: #5186f7;
    --grey: #b8b4a2;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */

.title_bar {
    background-color: var(--dark_green);
    color: #070A11;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    outline: 1px solid var(--black);
}

.title_container {
    width: 92%;
    margin-left: 2%;
    justify-content: center;
    text-align: center;
}

.nav_bar {
    font-size: 20px;
    background-color: var(--light_green);
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 3;
    outline: 1px solid var(--black);
}

.link {
    color: var(--black);
    text-decoration: none;
}

.link:hover {
    color: var(--dark_green);
}

/* Dark & Light Mode Button */

#dark_light_button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 85px;
}

#sun_icon {
    background-color: var(--orange);
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

/* Body */

.background {
    background-color: var(--grey);
    z-index: 1;
}

.body {
    font-size: 20px;
    background-color: var(--white);
    width: 40%;
    min-height: 90vh;
    justify-self: center;
    padding: 50px;
    z-index: 2;
    outline: 1px solid var(--black);
}

.text {
    margin: 20px;
}

.button {
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    background-color: var(--light_green);
    border: 1px solid var(--darkest_green);
}

.button:hover {
    background-color: var(--dark_green);
}

/* Images */

.image_container {
    margin: 20px;
}

.image {
    width: 100%;
}

.image_link {
    font-size: 16px;
    color: var(--blue);
    text-decoration: none;
}