/* Colour Variables & Setup */

:root {
    --dark_green: #609957;
    --light_green: #A7D588;
    --white: #E8E5D4;
    --black: #070A11;
    --orange: #F7A151;
    --grey: #737165;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */

.title_bar {
    background-color: var(--dark_green);
    color: #070A11;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.title_container {
    width: 92%;
    margin-left: 2%;
    justify-content: center;
    text-align: center;
}

.nav_bar {
    background-color: var(--light_green);
    padding: 18px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 3;
}

.link {
    color: var(--black);
    text-decoration: none;
}

.link:hover {
    color: var(--dark_green);
}

/* Dark & Light Mode Button */

#dark_light_button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 85px;
}

#sun_icon {
    background-color: var(--orange);
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

/* Body */

.background {
    background-color: var(--grey);
    z-index: 1;
}

.body {
    background-color: var(--white);
    width: 50%;
    height: 100vh;
    justify-self: center;
    padding: 50px;
    z-index: 2;
}